@charset "UTF-8";



body{
    background-color: #025951;
}



main{
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
}

p{
    
    font-size: 1.8rem;

}

.botao{
    width: 100px;
    border: 1px solid black;
    outline: none;
    background-color: #0CF25D;
}

